{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'employees/css/employees.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 id="caption" class="mb-5">Наша команда:</h1>
            <span>
                {% for employee in object_list %}
                    <div class="mb-3">
                        <br>
                        <img src="{{ employee.photo.url }}" alt="сотрудник{{employee.id}}">
                        <h1>{{ employee.name }}</h1> {{ employee.post }}
                    </div>
                {% endfor %}
            </span>
        </div>
    </div>
{% endblock %}
